:root {
  --primary-color: #cce3d3;
  --secondary-color: #a3bfa8;
  --accent-color: #7da78a;
  --text-color: #333;
  --card-success: #a5d6a7;
  --card-warning: #ffe082;
  --card-secondary: #b0bec5;
  --bs-orange: #fd7e14; 
}